$ui-color-white: hsl(0, 0%, 100%);
$ui-color-grey13: hsl(0, 0%, 13%);
$ui-color-grey47: hsl(0, 0%, 47%);
$ui-color-grey72: hsl(0, 0%, 72%);
$ui-color-grey87: hsl(0, 0%, 87%);
$ui-color-grey96: hsl(0, 0%, 96%);
$ui-color-black: hsl(0, 0%, 0%);

$ui-font-family-common: Tahoma, Arial, Helvetica, sans-serif;